

            
    
#firstButton {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    }
    
    #firstButton:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #firstButton{
            display:block;
            margin:0.4em auto;
        }
    }
    
    
    
    #secondButton {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
    }
    
    #secondButton:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #secondButton{
            display:block;
            margin:0.4em auto;
        }
    }
    
    
    
    
    #thirdButton {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
    }
    
    #thirdButton:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #thirdButton{
            display:block;
            margin:0.4em auto;
        }
    }
    
    
    
    
    #fourthButton {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
    }
    
    #fourthButton:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #fourthButton{
            display:block;
            margin:0.4em auto;
        }
    }
    
    
    #fifthButton {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
    }
    
    #fifthButton:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #FifthButton{
            display:block;
            margin:0.4em auto;
        }
    }
    #sixthButton {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
    }
    
    #sixthButton:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #sixthButton{
            display:block;
            margin:0.4em auto;
        }
    }
    
    
    #seventhButton {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
    }
    
    #seventhButton:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #seventhButton{
            display:block;
            margin:0.4em auto;
        }
    }
    
    #eighthButton {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:red;
    background-color:black;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
    }
    
    #eighthButton:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #eighthButton{
            display:block;
            margin:0.4em auto;
        }
    }
    
    
    #ninethbutton {
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:red;
    background-color:black;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
    }
    
    #ninethbutton:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #ninethbutton{
            display:block;
            margin:0.4em auto;
        }
    }
    
    
    #nutButt{
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:red;
    background-color:black;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    
    }
    
    #nutButt:active{
        top : 0.1em;
    } 
    
    @media all and (max-width:30em){
        #nutButt{
            display:block;
            margin:0.4em auto;
        }
    }
    
    
    
    /* inputbar style */
    #secondInputBar {
    padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:blue;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    }
    
    
    #thirdInputBar {
    padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:blue;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    }
    
    
    #fourthInputBar {
    padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:blue;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    }
    
      #fifthInputBar {
    padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:blue;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    
    }
    #sixthInputBar {
    padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:blue;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    }
    
    
    #foodAmount {
    padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:black;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    
    }
      #seventhInputBar {
    padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:black;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    }
      #amountOfCarbs {
    padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:black;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    /* drop down css */
    }
    
    #proteinInput {
        padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:white;
    background-color:black;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    }
    
    #tranFatInput {
        
        padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:black;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    }
    
    #fatInput {
        
        padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:black;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    }
    
    #nutCarbsInput {
        
        padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius:50px 50px 50px 50px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:black;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    
    }
    ::-webkit-input-placeholder { /* Chrome */
      color: red;
    }
    
    
    #firstDropDown {
        padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:grey;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    position:relative;
    }
    
    #secondDropDown {
        padding:0.7em;
    margin:0 0.3em 0.3em 0;
    border-radius: 0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    color:red;
    background-color:grey;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    }